{% extends 'manager/base.html' %}

{% load static %}

{% block main %}
<main class="main-section">

    <h1 class="page-heading">About</h1>

    <p> 
        IKONRecoM is a unique and robust Software Solution to help you manage your Hard copy Records and Documents in the most
        effective and professional manner to meet the challenges of Compliance, Risk Management & Business Continuity, while
        facilitating a Secure environment with access Audit Trails for your critical information.
    </p>

    <p>
        IKONRecoM is a Web based application suitable for any organization which is considering to efficiently manage its
        physical business documents. It enables customers to Control, Regulate, Archive, Retrieve, Store and Destroy the
        physical business documents effectively and efficiently, ensuring availability of Records on Demand, every-time. Fully
        featured system for In-house management and bulk processing of Physical Documents.
    </p>

</main>
{% endblock %}
