
{% load static %}

<link rel="stylesheet" href="{% static 'css/grid24-bootstrap.css' %}">
<script src='{% static "js/jquery-3.3.1.min.js" %}'></script>
<script src='{% static "js/bootstrap.bundle.min.js" %}'></script>

<style>



    body {
        padding-left: 3em; 
        padding-right: 3em; 
        background-color: #202020;
    }

    header {
        /* padding-left: 2em;  */
    }

    .ikon-dark-blue {
        color: #064D81;
    }

    .ikon-light-blue {
        color: #00B0F0;
    }

    .ikon-parrot {
        color: #A6CE39
    }

    .section {
        background-color: #fff;
        border-radius: 10px;
        margin-top: 0.5em;
        padding-left: 0.7em;
        padding-top: 0.1em;
        padding-bottom: 0.2em;
    }

    .main-section {
        background-color: #fff;
        border-radius: 10px;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 0.8em;
        padding-bottom: 2em;

    }

    footer {
        background-color: #fff;
        border-radius: 10px;
        padding-left: 2em;
        padding-right: 1em;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
        margin-top: 1em;
        margin-bottom: 1em;
        color: #064D81;
    }

    h1.page-heading {
        color: #064D81;
        font-size: 2em;
        border-bottom: 2px solid #064D81;
        /* margin-left: 1em; */
        /* margin-right: 1em; */
    }


    .navbar-expand-md .navbar-nav .nav-link {
        padding: 0;
    }

    ul.user {
        margin-right: 0.8em;
        color: #064D81;
        font-weight: 600;
        font-size: 1.2em;
    }

    ul.user li{
        list-style: none;
    }

    ul li.nav-item {
        margin-right: 2em;
    }

    ul li.active {
        border-bottom: 2px solid #A6CE39;
    }

    .navbar-nav .active > .nav-link {
        color: #064D81 !important;
    }

    span.logout {
        font-size: 0.5em !important;
        margin-right: 1.5em;
        margin-top: 0.6em;
    }

    nav.navbar {
        background-color: white;
        border-radius: 10px;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-top: 0.7em;
        padding-bottom: 0.7em;
        padding-left: 2em;
    }

    .remove_underline{
        text-decoration: None !important;
    }
</style>

{% block style %}
{% endblock %}


<header>
    
    <h1 class="section"> 
        <a class="remove_underline" href="{% url 'index' %}"> 
            <span class="ikon-dark-blue">IKON</span><span class="ikon-parrot">RecoM</span> 
        </a>
        <span class="logout float-right">
            <a class="" href="{% url 'index' %}">Logout</a>
        </span>
    </h1>

    <nav class="navbar navbar-expand-md navbar-light lightbg">

        <ul class="navbar-nav mr-auto ">
            <li class="nav-item {% if title == 'Dashboard' %} {{ 'active' }} {% endif %}">
                <a class="nav-link" href="{% url 'manager:dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item {% if title == 'Search' %} {{ 'active' }} {% endif %}">
                <a class="nav-link" href="{% url 'manager:search' %}">Search</a>
            </li>
            <li class="nav-item {% if title == 'Pickups' %} {{ 'active' }} {% endif %}">
                <a class="nav-link" href="{% url 'manager:pickups' %}">Pickups</a>
            </li>
            <li class="nav-item {% if title == 'About' %} {{ 'active' }} {% endif %}">
                <a class="nav-link" href="{% url 'manager:about' %}">About</a>
            </li>
        </ul>

        <ul class="navbar-nav user">
            <li>Welcome Manager</li>
        </ul>
    </nav>

</header>



{% block main %}
{% endblock %}


<footer>

    &copy; 2019 IKON BPS Pvt Ltd. All Rights Reserved.

</footer>