
{% extends 'manager/base.html' %}

{% load static %}

{% block main %}
<main class="main-section">

    <h1 class="page-heading">Pickup</h1>

<section>
    <table class="table table-striped table-hover">
        <thead>
            <th> ID </th>
            <th> Barcode </th>
            <th> Reference </th>
            <th> Box Barcode </th>
            <th> Location Barcode </th>
            <th> Department </th>
            <th> Status </th>
            <th> Actions </th>
        </thead>

        <tbody>


            {% if records.count != 0 %}
            {% for record in records %}
            <tr>

                <td> {{ record.id }} </td>
                <td> {{ record.barcode }} </td>
                <td> {{ record.reference }} </td>
                <td> {{ record.box_barcode }} </td>
                <td> {{ record.location }} </td>
                <td> {{ record.dept }} </td>
                <td> {{ record.status }} </td>
                <td>

                {% if record.status.status == "Pick Up Requested to Warehouse" %}
                    <a href="{% url 'manager:approve' record.id %}" class="btn btn-info approve">
                        {{ "Approve" }}
                    </a>
                    {% elif record.status.status == "Retrieval Requested to Warehouse" %}
                    <a href="{% url 'manager:dispatch' record.id %}" class="btn btn-info">
                        {{ "Dispatch" }}
                    </a>
                    {% else %}
                    <a href="#" class="btn btn-info"> {{ "Details" }} </a>
                    {% endif %}


                    <a href="#" class="btn btn-secondary">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>

                </td>

            </tr>
            {% endfor %}

            {% else %}
            <tr>
                <td colspan=8 class="text-center"> No results found</td>
            </tr>
            {% endif %}


        </tbody>
    </table>
</section>

<section>

    <!-- Modal -->
    <div id="approve" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Select a Location</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h6> Please select a location for the record </h6>
                    <!-- <select id="location_barcode" name="location" class="form-control"> -->
                    <select id="location_barcode" name="location" class="form-control" >
                        {% for location in locations %}
                            <option value="{{location.id}}"> {{ location }} </option>
                        {% endfor %}
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal"> Approve </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
                </div>
            </div>

        </div>
    </div>
</section>

</main>

<script>
    
    $(document).ready(function () {
        var search_url = "http://127.0.0.1:8000/manager/search/"
        var approve_url = undefined;

        $(".approve").click(function (e) {
            e.preventDefault();
     
            approve_url = e.target.href;
            $('#approve').modal('show');
        });
        
        $('#approve').on('hidden.bs.modal', function (e) {
            
            var location = $("#location_barcode option:selected").val();
            approve_url = approve_url + "location/" + location;
            
            console.log(approve_url);
            
            $.get(approve_url);

            $(window).attr("location", search_url);

            approve_url = undefined;
            
        })
 
    });

</script>

{% endblock %}
