{% extends 'manager/base.html' %}

{% load static %}

{% block style %}
<style>
    label {
        width: 10%;
    }

    input, textarea, select {
        width: 100%;
    }

    input[type=submit] {
        margin-top: 1em;
        width: 30%;
    }

    div.row {
        margin-top: 1em;
    }
</style>
{% endblock %}

{% block main %}
<main class="main-section">

    <h1 class="page-heading">Records</h1>

    <form action="" method="POST" novalidate>

        {% csrf_token %}
   
        <div>
            {{ form.non_field_errors }}
        </div>

        <div class="row">
            <div class="col-3">
                {{ form.barcode.label }}
            </div>
            <div class="col-8">
                <div>
                    {{ form.barcode.errors.as_text }}
                </div>
                <div>
                    {{ form.barcode }}
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-3">
                {{ form.reference.label }}
            </div>
            <div class="col-8">
                <div>
                    {{ form.reference.errors.as_text }}
                </div>
                <div>
                    {{ form.reference }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                {{ form.description.label }}
            </div>
            <div class="col-8">
                <div>
                    {{ form.description.errors.as_text }}
                </div>
                <div>
                    {{ form.description }}
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-3">
                {{ form.dept.label }}
            </div>
            <div class="col-8">
                <div>
                    {{ form.dept.errors.as_text }}
                </div>

                <div>
                    {{ form.dept }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                {{ form.status.label }}
            </div>
            <div class="col-8">
                <div>
                    {{ form.status.errors.as_text }}
                </div>

                <div>
                    {{ form.status }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <div class="text-right">
                    <input type="submit" value="Create" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>

</main>
{% endblock %}
