{% load static %}

<link rel="stylesheet" href="{% static 'css/grid24-bootstrap.css' %}">

<style>

    body {
        background-color: #064D81;
    }

    section#company {
        background-color: white;
        padding-left: 1em;
        padding-right: 1em;
        border-top: 1em solid #064D81;
        border-bottom: 1em solid #064D81;
    }

    section#banner {
        height: 60vh;
    }

    div.link {
        margin-top: 1em;
    }
    
    div.link:last-of-type {
        margin-bottom: 1em;
    }

    div.link a {
        width: 100%;
    }

    div.company-name {
        padding: 1em 0;
    }
     
    h1.page-heading {
        font-size: 3em;
        margin-bottom: 0;
    }

    h2 {
        margin-bottom: 0;
    }

    .ikon-light-blue {
        color: #00B0F0;
    }

    .ikon-dark-blue {
        color: #064D81;
    }

    .ikon-parrot {
        color: #A6CE39;
    }

    .btn-ikon {
        position: relative;
        background-color: #00B0F0;
        border: 1px solid #00B0F0;
        color: white;
    }

    .btn-ikon:hover {
        background-color: #A6CE39;
        border-color: #A6CE39;
        color: #064D81;
    }

    .vertically-center {
        display:flex;
        justify-content:center;
        flex-flow: column;
    }
</style>

<body>
    

    <section id="company">
        <div class="company ">
            <div class="row">
                <div class="col-4 vertically-center">
                    <div class="text-right">
                        <img src="{% static 'icons/Ikon-star-logo.svg' %}" alt="IKON" width="200">
                    </div>
                </div>
                <div class="col-12">
                    <div class="company-name">
                        <h1 class="page-heading">
                            <span class="ikon-dark-blue">IKON</span>
                        </h1>
                        <h2>
                            <span class="ikon-light-blue">Business Process Solutions</span>
                        </h2>
                        <h2>
                            <span class="ikon-parrot">Private Limited</span>
                        </h2>
                    </div>
                </div>
                <div class="col-3 vertically-center">
                    <div class="link">
                        <a class="btn btn-ikon" href="{% url 'user:dashboard' %}">User</a>
                    </div>
                    
                    <div class="link">
                        <a class="btn btn-ikon" href="{% url 'manager:dashboard' %}">Manager</a>
                    </div>

                    <div class="link">
                        <a class="btn btn-ikon" href="admin/login">Admin Panel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="banner">
        <div class="banner">
            <img src="{% static 'banners/IKONRecoM.jpg' %}" alt="IKONRecoM" width="100%">
        </div>
    </section>

</body>