{% extends 'user/base.html' %}

{% load static %}

{% block style %}
<style>
    div.widget {
        border: 2px solid #064D81;
        border-radius: 10px;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 1em 0.5em;
    }

    h2.widget-heading {
        font-size: 1.5em;
    }

</style>
{% endblock %}

{% block main %}
    <main class="main-section">

        <h1 class="page-heading">Dashboard</h1>
        
        <div class="row">
            
            <div class="col-6">
                <div class="widget">
                    
                    <div class="text-center">
                        <h2> {{ records}} </h2>
                        <h2 class="widget-heading"> Total Records </h2>
                    </div>
                    
                </div>
            </div>
            
            <div class="col-6">
                <div class="widget">
                    
                    <div class="text-center">
                        <h2> 000 </h2>
                        <h2 class="widget-heading"> Pending Pickups </h2>
                    </div>
                    
                </div>
            </div>
            
        </div>

    </main>

{% endblock %}
        
        