{% extends 'user/base.html' %}

{% load static %}
{% load filters %}

{% block style %}

<style>
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #064D81;
        color: white ;
    }

    .section-heading {
        border-bottom: 2px solid #064D81;
        color: #064D81;
    }

    input {
        width: 100%;
    }

    .btn-ikon {
        position: relative;
        background-color: #00B0F0;
        border: 1px solid #00B0F0;
        color: white;
    }

    .btn-ikon:hover {
        background-color: #A6CE39;
        border-color: #A6CE39;
        color: #064D81;
    }

    section.search {
        margin-bottom: 2em;
    }
</style>
{% endblock %}

{% block main %}
<main class="main-section">

    <section class="search">
        <h1 class="page-heading">Search</h1>

        <form action="{% url 'user:search' %}">


            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="barcode">Barcode</label>
                        <input type="text" class="form-control" name="barcode"
                        value="{% if request.GET.barcode %} {{ request.GET.barcode }} {% endif %}">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="reference">Reference</label>
                        <input type="text" class="form-control" name="reference"
                            value="{% if request.GET.reference %} {{ request.GET.reference }} {% endif %}">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="dept">Departments</label>
                        <select class="form-control" id="dept" name="dept">
                            
                            <option value="none"> Select Department </option>

                            {% for dept in departments %}
                            <option value="{{dept.id}}"

                                {% if request.GET.dept == dept.id|slugify %}
                                    {{ 'Selected' }}
                                {% endif %} 
                            > 
                                {{ dept }} 
                        
                            </option>

                            {% endfor %}


                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">

                        <label for="status">Status</label>
                        <select class="form-control" id="sel1" name="status">
                            <option value="none"> Select Status </option>

                            {% for status in recordStatus %}
                                <option value="{{status.id}}"
                                    {% if request.GET.status == status.id|slugify %}
                                        {{ 'Selected' }}
                                    {% endif %}
                                > 
                                    {{ status }} 
                                </option>
                            {% endfor %}

                        </select>

                    </div>
                </div>
                <div class="col-24">
                    <div class="row">

                        <div class="offset-18 col-6">
                            <div class="form-group">
                                <input type="submit" class="btn btn-ikon" value="Search">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </form>
    </section>

    <section>
        <h3 class="section-heading">All Records</h3>
        <table class="table table-striped table-hover">
            <thead>
                <th> ID </th>
                <th> Barcode </th>
                <th> Reference </th>
                <th> Box Barcode </th>
                <th> Department </th>
                <th> Status </th>
                <th> Actions </th>
            </thead>

            <tbody>


            {% if records.count != 0 %}
                {% for record in records %}

                    <tr>
                    
                        <td> {{ record.id }} </td>
                        <td> {{ record.barcode }} </td>
                        <td> {{ record.reference }} </td>
                        <td> {{ record.box_barcode }} </td>
                        <td> {{ record.dept }} </td>
                        <td> {{ record.status }} </td>
                        <td> 
    
                            {% if record.status.status == "Pick Up Requested to Warehouse" %}
                                <a href="#" class="btn btn-info"> 
                                    {{ "Details" }} 
                                </a>
                            {% elif record.status.status == "In the Warehouse" %}
                                <a href="{% url 'user:retrieve' record.id %}" class="btn btn-info approve">
                                    {{ "Retrieve" }}
                                </a>
                            {% elif record.status.status == "Retrieval Requested to Warehouse" %}
                                <a href="#" class="btn btn-info"> {{ "Notify" }} </a>
                            {% elif record.status.status == "Delivered to User" %}
                                <a href="#" class="btn btn-info"> {{ "Pick Up" }} </a>
                            {% else %}
                                <a href="#" class="btn btn-info"> {{ "Details" }} </a>
                            {% endif %}


                            <a href="#" class="btn btn-secondary">Edit</a>
                            <a href="#" class="btn btn-danger">Delete</a>

                        </td>
                    </tr>
                    
                {% endfor %}
            
            {% else %}
            <tr>
                <td colspan=8 class="text-center"> No results found</td>
            </tr>
            {% endif %}

                
            </tbody>
        </table>
    </section>
</main>
{% endblock %}
